/* Theme Main Responsive CSS */

/*
    >>> Mobile device

    Device              :       Viewport (mn = minwidth)(mx = maxwidth)
    I Phone 5/SE        :       mx:320px
    Galaxy S5 / S9/S9+  :       mn:321px - mx:360px
    I Phone 6/7/8       :       mn:361px - mx:375px
    I Phone X/XS        :       mn:361px - mx:375px
    I Phone 6/7/8 Plus  :       mn:375px - mx:414px
    Universal           :       mn:360px - mx:375px

*/

/* 
    >>> Tablet or Pad Device

    Device              :       Viewport (mn = minwidth)(mx = maxwidth)
    

*/

/* Mobile Device Start viewport: 375px */
@media screen and (min-width: 360px) and (max-width: 375px) {
    /* Header Section */
    .desktop-view {
        display: none;
    }
    .site-id {
        display: none;
    }
    .mobile_nav {
        display: block;
        position: relative;
    }
    .mobile_nav_site-logo img {
        width: 145px;
    }
    .mobile_nav_menu ul {
        margin: 0;
    }
    .mobile_nav_menu ul li {
        display: inline-block;
    }
    .mobile_nav_menu ul li a img {
        width: 40px;
        height: 40px;
        margin: 0px 3px;
    }
    .mobile_nav_menu ul li label img {
        width: 40px;
        height: 40px;
        margin: 0px 3px;
    }
    .mobile_nav_Logo {
        float: left;
    }
    .mobile_nav_menu {
        float: right;
    }
    #mobile_nav_check {
        display: none;
    }
    .mobile_navBar {
        display: block;
        position: absolute;
        width: 100%;
        margin: auto;
        left: 0;
    }
    .mobile_navBar ul {
        margin: 0;
    }
    .mobile_navBar ul li {
        display: block;
        text-align: center;
        height: 40px;
        line-height: 40px;
    }
    .mobile_navBar {
        display: block;
        position: absolute;
        width: 100%;
        margin: auto;
        left: 100%;
        top: 80px;
        background: #26705E;
        z-index: 999;
        padding: 10px 0px;
        opacity: 0;
        transition: var(--all-transitions);
    }
    #mobile_nav_check:checked~.mobile_navbar {
        display: block;
        left: 0;
        opacity: 1;
    }
    .mobile_navBar ul li a {
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: bold;
    }
    .mobile-nav-social ul {
        margin: 0;
    }
    .mobile-nav-social ul li {
        display: inline-block;
        width: 30px;
    }
    .MobileUserLogin {
        height: 50px;
        display: block;
        line-height: 50px;
        background: #FFE28C;
        text-align: center;
        margin-bottom: -10px;
        margin-top: 35px;
    }
    .mobileUserAccount {
        color: #1F2F4B;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        display: inline-block;
        margin-top: 2px;
    }
    
    /* Banner Section Start */
    .banner_main {
        height: 185px;
    }
    /* Footer Section Start */
    .footer-category, .footer-news, .footer-recipe {
        display: none;
    }
    .payment-methods ul li {
        width: 40px;
    }
    .footerCompanyLegalInformation {
        height: max-content;
    }
    .footerPolicy ul li {
        display: block;
        text-align: left;
    }
}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    /* Root CSS Start */

    /* Root CSS End */
    .banner_main {
        background: url(../images/banner.jpg);
        -webkit-background: url(../images/banner.jpg);
        height: 700px;
        background-size: cover;
    }
    .banner-content::after {
        position: absolute;
        content: url(../images/halal-logo.png);
        top: 450px;
        right: 0px;
    }
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {

}