/* Theme Main Responsive CSS */

/*
    >>> Mobile device

    Device                  :       Viewport (mn = minwidth)(mx = maxwidth)
    I Phone 5/SE            :       mx:320px
    Galaxy S5 / S9/S9+      :       mn:321px - mx:360px
    I Phone 6/7/8           :       mn:361px - mx:375px
    I Phone X/XS            :       mn:361px - mx:375px
    I Phone 6/7/8 Plus      :       mn:375px - mx:414px
    Universal               :       mn:360px - mx:375px

*/

/* 
    >>> Tablet or Pad Device

    Device                  :       Viewport (mn = minwidth)(mx = maxwidth)
    Nexus7                  :       mx:600px
    Nexus9                  :       mn:620px - mx:768px
    Samsung Galaxy Tab10    :       mn:769px - mx:800px
    Pixel C                 :       mn:800px - mx:900px
    Chromebook Pixel        :       mn:901px - mx:1280px

*/

/* 
    >>> Laptop Device

    Device                  :       Viewport (mn = minwidth)(mx = maxwidth)
    

*/

/* 
    >>> Desktop Device

    Device                  :       Viewport (mn = minwidth)(mx = maxwidth)
    

*/



/* Mobile Device Start viewport: 375px */
@import url(./viewport/mobile/max-width-375px.css);

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
@import url(./viewport/laptop/1024x1440px-laptop.css);

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@import url(./viewport/desktop/1441px\ and\ max-width\ 1920px.css);